<!DOCTYPE html>
<html lang="ja">
  <head>
    <%- include('../views/partials/head'); %>
  </head>
  <body>
    <header><%- include('../views/partials/headerLogin'); %></header>
    <span id="append"></span>
    <table align="center" id="bord">
      <tr>
        <td style="width: 1008px">テスト投稿</td>
      </tr>
      <tr>
        <td tyle="width: 1008px">コンテンツ</td>
      </tr>
      <tr>
        <td tyle="width: 1008px">投稿者: ヤブタ</td>
      </tr>
      <tr>
        <td tyle="width: 1008px"><i class="far fa-heart"></i>0</td>
      </tr>
    </table>

    <table align="center" id="bord">
      <tr>
        <td style="width: 1008px">テスト投稿</td>
      </tr>
      <tr>
        <td tyle="width: 1008px">テストコンテンツ</td>
      </tr>
      <tr>
        <td tyle="width: 1008px">投稿者: あああああ</td>
      </tr>
      <tr>
        <td tyle="width: 1008px"><i class="far fa-heart"></i>2</td>
      </tr>
    </table>

    <table align="center" id="bord">
      <tr>
        <td style="width: 1008px">テスト投稿</td>
      </tr>
      <tr>
        <td tyle="width: 1008px">コンテンツテスト</td>
      </tr>
      <tr>
        <td tyle="width: 1008px">投稿者: いいいいい</td>
      </tr>
      <tr>
        <td tyle="width: 1008px"><i class="far fa-heart"></i>5</td>
      </tr>
    </table>
  </body>
  <%- include('../views/partials/script'); %>
</html>
