<script>
  $(document).ready(() => {
    $('#username').one('click',() => {
      const logout =
        '<form action="/logout" method="post">' +
        '<input type="submit" value="LOGOUT">' +
        '</form>';
      $('#append').append(logout);
    });
  });
</script>